In [2]:
import pandas as pd

In [2]:
# Read csv file to DataFrame
df = pd.read_csv(r'CSV\apsrtc_bus_details.csv')

In [3]:
df.head(2)

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),00:20,06h 10m,06:30,4.6,829,22 Seats available
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),23:10,06h 25m,05:35,4.5,829,19 Seats available

In [5]:
#Adding a column to represent the state
df.loc[:, "State_Transport"] = 'Andhra Pradesh'

In [6]:
df.head(2)

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability,State_Transport
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),00:20,06h 10m,06:30,4.6,829,22 Seats available,Andhra Pradesh
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),23:10,06h 25m,05:35,4.5,829,19 Seats available,Andhra Pradesh

In [7]:
# Save the DataFrame to a CSV file
df.to_csv(r'mod_csv\apsrtc_bus_details.csv', index=False)

In [9]:
# ASTC State Transport

# Read csv file to DataFrame
df = pd.read_csv(r'CSV\astc_bus_details.csv')
#Adding a column to represent the state
df.loc[:, "State_Transport"] = 'Assam'
# Save the DataFrame to a CSV file
df.to_csv(r'mod_csv\astc_bus_details.csv', index=False)

In [8]:
# CTU State Transport

# Read csv file to DataFrame
df = pd.read_csv(r'CSV\ctu_bus_details.csv')

#Adding a column to represent the state
df.loc[:, "State_Transport"] = 'Chandigarh'

# Save the DataFrame to a CSV file
df.to_csv(r'mod_csv\ctu_bus_details.csv', index=False)

In [10]:
# HRTC State Transport

# Read csv file to DataFrame
df = pd.read_csv(r'CSV\hrtc_bus_details.csv')
#Adding a column to represent the state
df.loc[:, "State_Transport"] = 'Himachal'
# Save the DataFrame to a CSV file
df.to_csv(r'mod_csv\hrtc_bus_details.csv', index=False)

In [11]:
# Kadamba State Transport

# Read csv file to DataFrame
df = pd.read_csv(r'CSV\ktcl_bus_details.csv')
#Adding a column to represent the state
df.loc[:, "State_Transport"] = 'Kadamba'
# Save the DataFrame to a CSV file
df.to_csv(r'mod_csv\ktcl_bus_details.csv', index=False)

In [3]:
# Meghalaya State Transport
# Read csv file to DataFrame
df = pd.read_csv(r'CSV\mtc_bus_details.csv')
#Adding a column to represent the state
df.loc[:, "State_Transport"] = 'Meghalaya'
# Save the DataFrame to a CSV file
df.to_csv(r'mod_csv\mtc_bus_details.csv', index=False)

In [13]:
# North Bengal State Transport
# Read csv file to DataFrame
df = pd.read_csv(r'CSV\north_bengal_bus_details.csv')
#Adding a column to represent the state
df.loc[:, "State_Transport"] = 'North Bengal'
# Save the DataFrame to a CSV file
df.to_csv(r'mod_csv\north_bengal_bus_details.csv', index=False)

In [14]:
# Punjab State Transport
# Read csv file to DataFrame
df = pd.read_csv(r'CSV\punjab_bus_details.csv')
#Adding a column to represent the state
df.loc[:, "State_Transport"] = 'Punjab'
# Save the DataFrame to a CSV file
df.to_csv(r'mod_csv\punjab_bus_details.csv', index=False)

In [4]:
# Rajasthan  State Transport
# Read csv file to DataFrame
df = pd.read_csv(r'CSV\rsrtc_bus_details.csv')
#Adding a column to represent the state
df.loc[:, "State_Transport"] = 'Rajasthan'
# Save the DataFrame to a CSV file
df.to_csv(r'mod_csv\rsrtc_bus_details.csv', index=False)

In [16]:
# South Bengal State Transport
# Read csv file to DataFrame
df = pd.read_csv(r'CSV\sbstc_bus_details.csv')
#Adding a column to represent the state
df.loc[:, "State_Transport"] = 'South Bengal'
# Save the DataFrame to a CSV file
df.to_csv(r'mod_csv\sbstc_bus_details.csv', index=False)

In [17]:
# Sikkim State Transport
# Read csv file to DataFrame
df = pd.read_csv(r'CSV\snt_bus_details.csv')
#Adding a column to represent the state
df.loc[:, "State_Transport"] = 'Sikkim'
# Save the DataFrame to a CSV file
df.to_csv(r'mod_csv\snt_bus_details.csv', index=False)

In [18]:
# Telangana  State Transport
# Read csv file to DataFrame
df = pd.read_csv(r'CSV\tsrtc_bus_details.csv')
#Adding a column to represent the state
df.loc[:, "State_Transport"] = 'Telangana'
# Save the DataFrame to a CSV file
df.to_csv(r'mod_csv\tsrtc_bus_details.csv', index=False)

In [19]:
# Uttar Pradesh  State Transport
# Read csv file to DataFrame
df = pd.read_csv(r'CSV\upsrtc_bus_details.csv')
#Adding a column to represent the state
df.loc[:, "State_Transport"] = 'Uttar Pradesh'
# Save the DataFrame to a CSV file
df.to_csv(r'mod_csv\upsrtc_bus_details.csv', index=False)

In [20]:
# West Bengal State Transport
# Read csv file to DataFrame
df = pd.read_csv(r'CSV\wbtc_bus_details.csv')
#Adding a column to represent the state
df.loc[:, "State_Transport"] = 'West Bengal'
# Save the DataFrame to a CSV file
df.to_csv(r'mod_csv\wbtc_bus_details.csv', index=False)