In [1]:
import pandas as pd
import glob

In [3]:
# Get a list of all CSV files in a directory
#csv_files = glob.glob('*.csv')


csv_files = glob.glob(r'C:\Users\Samperals\Desktop\Project_Guvi\vscode\CSV\*.csv')

In [4]:
csv_files

['apsrtc_bus_details.csv',
 'astc_bus_details.csv',
 'ctu_bus_details.csv',
 'hrtc_bus_details.csv',
 'ktcl_bus_details.csv',
 'mtc_bus_details.csv',
 'north_bengal_bus_details.csv',
 'punjab_bus_details.csv',
 'rsrtc_bus_details.csv',
 'sbstc_bus_details.csv',
 'snt_bus_details.csv',
 'tsrtc_bus_details.csv',
 'upsrtc_bus_details.csv',
 'wbtc_bus_details.csv']

In [5]:
# Create an empty dataframe to store the combined data
all_bus_routes_df = pd.DataFrame()

# Loop through each CSV file and append its contents to the combined dataframe
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    all_bus_routes_df = pd.concat([all_bus_routes_df, df],ignore_index=True)

In [ ]:
# Print the combined dataframe
print(all_bus_routes_df)

In [6]:
all_bus_routes_df.shape

(8622, 10)

In [8]:
all_bus_routes_df.columns

Index(['Route_Name', 'Route_Link', 'Bus_Name', 'Bus_Type', 'Departing_Time',
       'Duration', 'Reaching_Time', 'Star_Rating', 'Price',
       'Seat_Availability'],
      dtype='object')

In [9]:
all_bus_routes_df.head(2)

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),00:20,06h 10m,06:30,4.6,829,22 Seats available
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),23:10,06h 25m,05:35,4.5,829,19 Seats available

In [ ]:
all_bus_routes_df['Route_Name'].unique()

In [13]:
    # Save the DataFrame to a CSV file
all_bus_routes_df.to_csv('all_bus_details.csv', index=False)