In [1]:

import sqlalchemy as sa
import pandas as pd

In [4]:
# Create a DataFrame (assuming you have one)
data = pd.read_csv('all_bus_details.csv')
df = pd.DataFrame(data)

In [5]:
df.shape

(8622, 10)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8622 entries, 0 to 8621
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_Name         8622 non-null   object
 1   Route_Link         8622 non-null   object
 2   Bus_Name           8622 non-null   object
 3   Bus_Type           8622 non-null   object
 4   Departing_Time     8622 non-null   object
 5   Duration           8622 non-null   object
 6   Reaching_Time      8622 non-null   object
 7   Star_Rating        8622 non-null   float64
 8   Price              8622 non-null   object
 9   Seat_Availability  8622 non-null   object
dtypes: float64(1), object(9)
memory usage: 673.7+ KB

In [7]:
df.columns

Index(['Route_Name', 'Route_Link', 'Bus_Name', 'Bus_Type', 'Departing_Time',
       'Duration', 'Reaching_Time', 'Star_Rating', 'Price',
       'Seat_Availability'],
      dtype='object')

In [8]:
df.rename(columns={'Route_Name': 'route_name', 'Route_Link': 'route_link', 'Bus_Name': 'busname', 'Bus_Type': 'bustype', 'Departing_Time': 'departing_time'
                   , 'Duration': 'duration', 'Reaching_Time': 'reaching_time', 'Star_Rating': 'star_rating', 'Price': 'price',
                     'Seat_Availability': 'seats_available'}, inplace=True)

In [9]:
df.columns

Index(['route_name', 'route_link', 'busname', 'bustype', 'departing_time',
       'duration', 'reaching_time', 'star_rating', 'price', 'seats_available'],
      dtype='object')

In [10]:
df['seats_available'].unique()

array(['22 Seats available', '19 Seats available', '16 Seats available',
       '7 Seats available', '9 Seats available', '21 Seats available',
       '1 Seat available', '17 Seats available', '11 Seats available',
       '13 Seats available', '18 Seats available', '3 Seats available',
       '10 Seats available', '6 Seats available', '26 Seats available',
       '12 Seats available', '4 Seats available', '5 Seats available',
       '2 Seats available', '14 Seats available', '8 Seats available',
       '15 Seats available', '46 Seats available', '32 Seats available',
       '40 Seats available', '24 Seats available', '39 Seats available',
       '25 Seats available', '31 Seats available', '37 Seats available',
       '44 Seats available', '28 Seats available', '20 Seats available',
       '29 Seats available', '38 Seats available', '43 Seats available',
       '23 Seats available', '35 Seats available', '42 Seats available',
       '34 Seats available', '30 Seats available', '33 Seats available',
       '27 Seats available', '36 Seats available', '41 Seats available',
       '58 Seats available', '45 Seats available', '49 Seats available',
       '50 Seats available', '47 Seats available', '53 Seats available',
       '51 Seats available', '52 Seats available', '64 Seats available',
       '48 Seats available', '54 Seats available', '59 Seats available',
       '55 Seats available', '56 Seats available', '66 Seats available',
       '61 Seats available'], dtype=object)

In [11]:
df['seats_available'] = df['seats_available'].str.replace(r' Seats? available', '', regex=True)

In [12]:
df['price'].unique()

array(['829', 'INR 1109', 'INR 744', ..., 'INR 157', 'INR 145', 'INR 199'],
      dtype=object)

In [13]:
#df['price'] = df['price'].str.replace(r'INR ', '', regex=True)

# Convert the 'price' column to numeric by stripping 'INR' and any non-numeric characters
df['price'] = df['price'].replace({'INR': '', ',': ''}, regex=True).astype(float)

In [14]:
df['price'].unique

<bound method Series.unique of 0        829.0
1        829.0
2       1109.0
3        744.0
4        807.0
         ...
8617     110.0
8618     110.0
8619     167.0
8620     111.0
8621     111.0
Name: price, Length: 8622, dtype: float64>

In [15]:
# Connect to your SQL database (replace with your connection string)
#engine = sa.create_engine('mysql://root:root@127.0.0.1:3306/dswdtb4')


from sqlalchemy import create_engine
import sqlalchemy as sa

engine = sa.create_engine(
    'mysql+mysqlconnector://root:root@localhost/bus_routes',
    connect_args={'auth_plugin': 'mysql_native_password'}
)

In [20]:
# Push the DataFrame to a MySQL table with an auto-increment ID column
df.to_sql('bus_routes', engine,schema='bus_routes', if_exists='append', index=False)

8622